<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>de.heikogrosse.bus.hardware</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/PrivilegedHelperTools/de.heikogrosse.bus.hardware</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Library/Logs/BUSHardwareHelper.log</string>
  <key>StandardErrorPath</key>
  <string>/Library/Logs/BUSHardwareHelper.log</string>
</dict>
</plist>
